.dashboard-layout {
  display: flex;
  min-height: 100vh;
  padding-top: 70px;
  background-color: #fff0f5;
}

.dashboard-main-content {
  margin-left: 250px;
  padding: 2rem;
  width: calc(100% - 250px);
}

.logout-btn {
  /* existing styles… */
  font-weight: 700;  
  bottom: -270px; 
  min-height: auto;
  padding: 70px;
  left: 0;   
    /* make the text bold */
}
