.header {
    position: fixed;      /* fixed at the top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;  /* background color */
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;         /* top of other content */
    border-bottom: 2px solid #ccc; /* subtle border */
  }
  
  .green-logo {
    width: 80px;         /* size  */
    height: auto;
    margin-right: 20px;
  }
  